extends layout

block content
  h1 Log In

  form(method='POST' action='')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email' name='username' value=(user===undefined ? '' : user.email) )
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password' name='password' required='true' value=(user===undefined ? '' : user.password) )

    button.btn.btn-primary(type='submit') Submit
  if errors
    p=errors[0]

